<div *ngIf="newsAll.length > 0" class="new-body">

    <h2>{{subTitle}}</h2>


    <article *ngFor="let news of newsAll; let i = index" role="article" class="news ">

        <div class="grid-category">
            <a
                href="/noticias/categoria/{{newsAllCat[i]?.data[0]?.attributes?.drupal_internal__tid}}">{{newsAllCat[i]?.data[0]?.attributes?.name}}</a>
        </div>
        <a href="{{news.data.attributes.path.alias}}">
            <div class="grid-image">

                <img loading="lazy" src="{{getattd(i)}}" alt="" typeof="Image" />

            </div>
        </a>
        <div class="grid-info">
            <a href="{{news.data.attributes.path.alias}}">
                <div class="grid-date">
                    {{news.data.attributes.created | date:"dd MMMM yyyy"}}
                </div>
            </a>
            <a href="{{news.data.attributes.path.alias}}">
                <div class="grid-title">
                    <span>{{news.data.attributes.title}}</span>
                </div>
            </a>
            <div class="grid-summary"></div>
        </div>
    </article>

</div>
<mat-spinner *ngIf="newsAll.length < 1"></mat-spinner>