<div class="new-body">

    <h2>{{subTitle}}</h2>


    <article role="article" class="news ">

        <div class="grid-category">
            <a href="/noticias/categoria/121">Institución</a>
        </div>
        <a
            href="/es/noticias/ciudad-de-mexico/institucion/disenadora-del-ano-2022-crea-la-decima-cuarta-casa-de-sorteos">
            <div class="grid-image">

                <div class="field field--name-field-main-image field--type-image field--label-hidden field--item">
                    <img loading="lazy"
                        src="/sites/default/files/styles/grid/public/2023-12/decima-cuarta-casa-de-autor-de-sorteos-tec-es-disenada-por-disenadora-del-anio-cristina-grappin.jpg?itok=t6H7xJPL"
                        width="530" height="390"
                        alt="Decima cuarta casa de autor de Sorteos Tec es creada por Diseñadora del Año Cristina Grappin"
                        typeof="Image" class="img-responsive">


                </div>

            </div>
        </a>
        <div class="grid-info"><a
                href="/es/noticias/ciudad-de-mexico/institucion/disenadora-del-ano-2022-crea-la-decima-cuarta-casa-de-sorteos">
                <div class="grid-date">
                    05 Diciembre 2023
                </div>
            </a><a
                href="/es/noticias/ciudad-de-mexico/institucion/disenadora-del-ano-2022-crea-la-decima-cuarta-casa-de-sorteos">
                <div class="grid-title">
                    <span>Diseñadora del año 2022 crea la décima cuarta casa de Sorteos Tec</span>
                </div>
            </a>
            <div class="grid-summary"></div>
        </div>
    </article>

</div>