.new-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid purple;
    h2{
        font-size: 1.5rem;
        font-style: normal;
        padding-top: 32px;
        text-indent: 5%;
        text-transform: uppercase;
        color: #212121;
    }
    .news{
        
    }
}